{% extends 'base.html' %}
{% block content %}
<div class="card auth">
  <h2>Registrar</h2>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Username</label>
    <input name="username" required>
    <label>Email</label>
    <input name="email" type="email">
    <label>Senha</label>
    <input name="password" type="password" required>
    <button class="btn">Registrar</button>
  </form>
  <p>Já tem conta? <a href="/login">Entrar</a></p>
</div>
{% endblock %}
